<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainAdminServlet</servlet-name>
        <servlet-class>hd.controller.MainAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>hd.controller.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <servlet-class>hd.controller.LogoutAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccountsServlet</servlet-name>
        <servlet-class>hd.controller.LoadAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccountInfoServlet</servlet-name>
        <servlet-class>hd.controller.LoadAccountInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStatusAccountServlet</servlet-name>
        <servlet-class>hd.controller.SetStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProjectsServlet</servlet-name>
        <servlet-class>hd.controller.LoadProjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProjectServlet</servlet-name>
        <servlet-class>hd.controller.ManageProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStatusProjectServlet</servlet-name>
        <servlet-class>hd.controller.SetStatusProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProjectInfoServlet</servlet-name>
        <servlet-class>hd.controller.LoadProjectInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>hd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>hd.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>hd.controller.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>hd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>hd.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>hd.controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListPhotoServlet</servlet-name>
        <servlet-class>hd.controller.ShowListPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>hd.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>hd.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadIdeabookInfoServlet</servlet-name>
        <servlet-class>hd.controller.LoadIdeabookInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadIdeabooksServlet</servlet-name>
        <servlet-class>hd.controller.LoadIdeabooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductsServlet</servlet-name>
        <servlet-class>hd.controller.LoadProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>hd.controller.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageIdeabookServlet</servlet-name>
        <servlet-class>hd.controller.ManageIdeabookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStatusProductServlet</servlet-name>
        <servlet-class>hd.controller.SetStatusProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductInfoServlet</servlet-name>
        <servlet-class>hd.controller.LoadProductInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectPhotoServlet</servlet-name>
        <servlet-class>hd.controller.SelectPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStatusIdeabookServlet</servlet-name>
        <servlet-class>hd.controller.SetStatusIdeabookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStatusPhotoServlet</servlet-name>
        <servlet-class>hd.controller.SetStatusPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListPhotoByCategoryServlet</servlet-name>
        <servlet-class>hd.controller.ShowListPhotoByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProfessionalServlet</servlet-name>
        <servlet-class>hd.controller.showProfessionalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOverServlet</servlet-name>
        <servlet-class>hd.controller.ViewOverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProjectDetailServlet</servlet-name>
        <servlet-class>hd.controller.ViewProjectDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaBooksServlet</servlet-name>
        <servlet-class>hd.controller.IdeaBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateIdeaBookServlet</servlet-name>
        <servlet-class>hd.controller.CreateIdeaBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditIdeaBookServlet</servlet-name>
        <servlet-class>hd.controller.EditIdeaBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyIdeaBookDetailServlet</servlet-name>
        <servlet-class>hd.controller.MyIdeaBookDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImageToIdeaBookServlet</servlet-name>
        <servlet-class>hd.controller.AddImageToIdeaBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditIdeaBookPhotoServlet</servlet-name>
        <servlet-class>hd.controller.EditIdeaBookPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIdeaBookPhotoServlet</servlet-name>
        <servlet-class>hd.controller.DeleteIdeaBookPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIdeaBookServlet</servlet-name>
        <servlet-class>hd.controller.DeleteIdeaBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPhotoDetailServlet</servlet-name>
        <servlet-class>hd.controller.ShowPhotoDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePhotoToIdeaBookServlet</servlet-name>
        <servlet-class>hd.controller.SavePhotoToIdeaBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjectServlet</servlet-name>
        <servlet-class>hd.controller.AddProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainProfessionalServlet</servlet-name>
        <servlet-class>hd.controller.MainProfessionalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMyProjectsServlet</servlet-name>
        <servlet-class>hd.controller.LoadMyProjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectServlet</servlet-name>
        <servlet-class>hd.controller.UpdateProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyProjectDetailServlet</servlet-name>
        <servlet-class>hd.controller.ViewMyProjectDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectPhotoServlet</servlet-name>
        <servlet-class>hd.controller.DeleteProjectPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <servlet-class>hd.controller.DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListProductServlet</servlet-name>
        <servlet-class>hd.controller.ShowListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailProductServlet</servlet-name>
        <servlet-class>hd.controller.ShowDetailProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>hd.controller.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProductServlet</servlet-name>
        <servlet-class>hd.controller.MyProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImageToProjectServlet</servlet-name>
        <servlet-class>hd.controller.AddImageToProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSellersServlet</servlet-name>
        <servlet-class>hd.controller.LoadSellersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSellerInfoServlet</servlet-name>
        <servlet-class>hd.controller.LoadSellerInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSellerDateServlet</servlet-name>
        <servlet-class>hd.controller.UpdateSellerDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProductDetailServlet</servlet-name>
        <servlet-class>hd.controller.MyProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImageToProductServlet</servlet-name>
        <servlet-class>hd.controller.AddImageToProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/CheckLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListPhotoServlet</servlet-name>
        <url-pattern>/ShowListPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainAdminServlet</servlet-name>
        <url-pattern>/MainAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/LoginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <url-pattern>/LogoutAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccountsServlet</servlet-name>
        <url-pattern>/LoadAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccountInfoServlet</servlet-name>
        <url-pattern>/LoadAccountInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStatusAccountServlet</servlet-name>
        <url-pattern>/SetStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProjectsServlet</servlet-name>
        <url-pattern>/LoadProjectsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProjectServlet</servlet-name>
        <url-pattern>/ManageProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStatusProjectServlet</servlet-name>
        <url-pattern>/SetStatusProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProjectInfoServlet</servlet-name>
        <url-pattern>/LoadProjectInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadIdeabookInfoServlet</servlet-name>
        <url-pattern>/LoadIdeabookInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadIdeabooksServlet</servlet-name>
        <url-pattern>/LoadIdeabooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductsServlet</servlet-name>
        <url-pattern>/LoadProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageIdeabookServlet</servlet-name>
        <url-pattern>/ManageIdeabookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStatusProductServlet</servlet-name>
        <url-pattern>/SetStatusProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductInfoServlet</servlet-name>
        <url-pattern>/LoadProductInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectPhotoServlet</servlet-name>
        <url-pattern>/SelectPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStatusIdeabookServlet</servlet-name>
        <url-pattern>/SetStatusIdeabookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetStatusPhotoServlet</servlet-name>
        <url-pattern>/SetStatusPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListPhotoByCategoryServlet</servlet-name>
        <url-pattern>/ShowListPhotoByCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProfessionalServlet</servlet-name>
        <url-pattern>/showProfessionalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOverServlet</servlet-name>
        <url-pattern>/ViewOverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProjectDetailServlet</servlet-name>
        <url-pattern>/ViewProjectDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaBooksServlet</servlet-name>
        <url-pattern>/IdeaBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateIdeaBookServlet</servlet-name>
        <url-pattern>/CreateIdeaBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditIdeaBookServlet</servlet-name>
        <url-pattern>/EditIdeaBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyIdeaBookDetailServlet</servlet-name>
        <url-pattern>/MyIdeaBookDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImageToIdeaBookServlet</servlet-name>
        <url-pattern>/AddImageToIdeaBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditIdeaBookPhotoServlet</servlet-name>
        <url-pattern>/EditIdeaBookPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIdeaBookPhotoServlet</servlet-name>
        <url-pattern>/DeleteIdeaBookPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIdeaBookServlet</servlet-name>
        <url-pattern>/DeleteIdeaBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPhotoDetailServlet</servlet-name>
        <url-pattern>/ShowPhotoDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePhotoToIdeaBookServlet</servlet-name>
        <url-pattern>/SavePhotoToIdeaBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectServlet</servlet-name>
        <url-pattern>/AddProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainProfessionalServlet</servlet-name>
        <url-pattern>/MainProfessionalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMyProjectsServlet</servlet-name>
        <url-pattern>/LoadMyProjectsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectServlet</servlet-name>
        <url-pattern>/UpdateProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyProjectDetailServlet</servlet-name>
        <url-pattern>/ViewMyProjectDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectPhotoServlet</servlet-name>
        <url-pattern>/DeleteProjectPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <url-pattern>/DeleteProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListProductServlet</servlet-name>
        <url-pattern>/ShowListProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailProductServlet</servlet-name>
        <url-pattern>/ShowDetailProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/ShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProductServlet</servlet-name>
        <url-pattern>/MyProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImageToProjectServlet</servlet-name>
        <url-pattern>/AddImageToProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSellersServlet</servlet-name>
        <url-pattern>/LoadSellersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSellerInfoServlet</servlet-name>
        <url-pattern>/LoadSellerInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSellerDateServlet</servlet-name>
        <url-pattern>/UpdateSellerDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProductDetailServlet</servlet-name>
        <url-pattern>/MyProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImageToProductServlet</servlet-name>
        <url-pattern>/AddImageToProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
